//colors
$red : #E5493A;
$headers-color : #363636;
$whiteGrey : #D7D7D7;
$greytxt : #959595;
$green : #8dc63f;
$orange : #F7941D;
$blue : #00BFF3;


//fonts
$axis : 'axis', sans-serif;
$ralewayExtraBold : 'Raleway-ExtraBold', sans-serif;
$latoBold : 'Lato-Bold', sans-serif;
$montserratBold : 'Montserrat-Bold', sans-serif;
$montserratMedium : 'Montserrat-Medium', sans-serif;
$NexaBold : 'NexaBold', sans-serif;
$openSansBold : 'OpenSans-Bold', sans-serif;
$openSansRegular : 'OpenSans-Regular', sans-serif;
$ralewayRegular : 'Raleway-Regular', sans-serif;
$robotoBlack : 'Roboto-Black', sans-serif;
$robotoMedium : 'Roboto-Medium', sans-serif;
$robotoBlackItalic : 'Roboto-BlackItalic', sans-serif;
$robotoBold : 'Roboto-Bold', sans-serif;
$robotoRegular : 'Roboto-Regular', sans-serif;
$yellowtailRegular : 'Yellowtail-Regular', sans-serif;
