// bower:scss
@import "bower_components/bootstrap-grid-sass/bootstrap-grid-sass.scss";
// endbower



// modules & sections

@import "modules/sprite";
@import "functions";
@import "reset";
@import "fonts";
@import "variables";

@import "sections/header";
@import "sections/head-section";
@import "sections/home-slider-section";
@import "sections/home-featured-products-section";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  line-height: 1.2;
}
.container {
  max-width: 1200px;
}
span.logo {
  display: inline-block;
  font-size: 56px;
  font-family: $axis;
  color: #363636;
}
h1 {

}
h2 {
  font-size: 31px;
}
h3 {
  font-family: $robotoBlack;
  font-size: 16px;
  color: $headers-color;
}
h4 {

}
h5 {

}
p {
  font-family: $robotoRegular;
  font-size: 14px;
}
