// bower:scss
@import "bower_components/bootstrap-grid-sass/bootstrap-grid-sass.scss";
// endbower



// modules & sections

@import "modules/sprite";
@import "functions";
@import "reset";
@import "fonts";
@import "variables";

@import "sections/header";
@import "sections/head-section";
@import "sections/home-page/style-section";
@import "sections/home-page/featured-products-section";
@import "sections/home-page/shipping-section";
@import "sections/home-page/recomend-section";
@import "sections/home-page/news-mail-section";
@import "sections/brand-section";
@import "sections/newsletter-section";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}
body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  line-height: 1.2;
}
.container {
  max-width: 1200px;
}
span.logo {
  display: inline-block;
  font-size: 56px;
  font-family: $axis;
  color: #363636;
}
h1 {
  color: $headers-color;
  font-size: 60px;
  font-family: $robotoBlack;
}
h2 {
  font-size: 31px;
}
h3 {
  font-family: $robotoBlack;
  font-size: 16px;
  color: $headers-color;
}
h4 {

}
h5 {

}
p {
  font-family: $robotoRegular;
  font-size: 14px;
}

.prod {
  display: flex;
  flex-direction: column;
  &-photo {
    display: inline-block;
    width: 270px;
    height: 350px;
    position: relative;
    margin-bottom: 30px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-title {
    display: block;
    font-family: $robotoBlack;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 13px;
    color: $headers-color;

    &:hover {
      color: $red;
    }
  }
  &-price {
    font-size: 18px;
    text-align: center;
    color: $headers-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(119, 119, 119, .7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #252525;
    margin: 4px;
    color: #fff;
    &:hover {
      background-color: $red;
    }
  }
  &:hover {
    opacity: 1;

  }
}
a.like {

}
a.to-cart {

}
.fa-star {
  color: #555555;
  margin: 2px;
}
.stars {
  position: absolute;
  bottom: 10%;
  .active-star {
    color: #F7941D;
  }
}
.sale {
  height: 20px;
  width: 60px;
  position: absolute;
  background-color: $orange;
  left: 0;
  top: 10%;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  z-index: 10;
  span {
    font-family: $robotoBlackItalic;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 15px;
    color: #fff;
  }
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid $orange;
    border-right: 10px solid transparent;
    top: 5px;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 5px solid #fff;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0;
  }
}
.new {
  height: 20px;
  width: 60px;
  position: absolute;
  background-color: $blue;
  left: 0;
  top: 10%;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  z-index: 10;
  span {
    font-family: $robotoBlackItalic;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 15px;
    color: #fff;
  }
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid $blue;
    border-right: 10px solid transparent;
    top: 5px;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 5px solid #fff;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0;
  }
}
.hot {
  height: 20px;
  width: 60px;
  position: absolute;
  background-color: $red;
  left: 0;
  top: 10%;
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
  z-index: 10;
  span {
    font-family: $robotoBlackItalic;
    font-size: 11px;
    text-transform: uppercase;
    margin-left: 15px;
    color: #fff;
  }
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid $red;
    border-right: 10px solid transparent;
    top: 5px;
  }
  &:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 5px solid #fff;
    border-bottom: 10px solid transparent;
    position: absolute;
    right: 0;
  }
}

.old-price {
  font-family: $robotoBold;
  font-size: 14px;
  color: $whiteGrey;
  text-decoration: line-through;
  padding-right: 10px;
}
.new-price {
  font-family: $robotoBlack;
  font-size: 18px;
  color: $red;
}

.form-styles {
  position: relative;
  max-width: 570px;
  height: 50px;
  display: flex;
  align-items: center;
}
.input-styles {
  border: none;
  font-family: $robotoRegular;
  font-size: 14px;
  color: #b7b7b7;
  position: absolute;
  left: 0;
  flex-grow: 1;
  width: 350px;
  &:focus {
    outline: none;
  }
}
.btn-styles {
  width: 170px;
  height: 50px;
  border: none;
  color: #fff;
  font-family: $ralewayExtraBold;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0;
}
