.brand-section{
  .container {
    position: relative;
    padding-top: 150px;
    padding-bottom: 75px;
    display: flex;
    justify-content: center;
  }
}
.brand-slider {
  position: relative;
  max-width: 1200px;
  padding-left: 100px;
  padding-right: 100px;
  .slick-prev, .slick-next {
    z-index: 10;
    background-color: #F3F3F3;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    &:hover {
      background-color: $red;
    }
  }
  .slick-prev {
    left: 5%;
    &:before {
      content: '';
      @include sprite($arrow-left);
      display: inline-block;
    }
  }
  .slick-next {
    right: 5%;
    &:before {
      content: '';
      @include sprite($arrow-right);
      display: inline-block;
    }
  }
}
.brand-slider-item.slick-slide {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .brand-slider {
    .slick-prev {
      left: 10%;
    }
    .slick-next {
      right: 10%;
    }
  }
}
@media (max-width: 992px) {
  .brand-slider {
    .slick-prev {
      left: 17%;
    }
    .slick-next {
      right: 17%;
    }
  }
}
@media (max-width: 768px) {
  .brand-slider {
    .slick-prev {
      left: 35%;
    }
    .slick-next {
      right: 35%;
    }
  }
}
@media (max-width: 480px) {
  .brand-slider {
    .slick-prev {
      left: 38%;
    }
    .slick-next {
      right: 38%;
    }
  }
}
