.top-bar {
  color: #959595;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
  & > * {
    z-index: 1;
  }
  &-item {
    display: flex;
    align-items: center;
    margin-right: 40px;
    a {
      margin-left: 10px;
      margin-right: 10px;
      color: #959595;
      &:hover {
        color: $green;
      }
    }
    &:hover {
      color: $green;
    }
  }
  &-register {
    margin-left: auto;
  }
  &-wishlist {
    .wishlist-counter {
      color: #e1e1e1;
      margin-right: 10px;

    }
  }
  &-sociall {
    display: flex;
    &-item {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #E1E1E1;
      margin: 3px;
      color: #fff;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      cursor: pointer;
      &:hover {
        background-color: $red;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #FAFAFA;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
.top-bar-wishlist.top-bar-item {
  a {
    &:hover {
      color: $red;
    }
  }
  &:hover {
    color: $red;

  }
}
.main-header {
  padding-top: 30px;
  padding-bottom: 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  .top-bar-sociall {
    display: none;
  }
  .logo {
    margin-right: auto;
  }
  &-menu {
    &-item {
      display: inline-block;
      margin-right: 33px;
      a {
        font-size: 14px;
        font-family: $robotoRegular;
        color: #707070;
        &:hover {
          color: $red;
          &::before {
            content: '';
            display: block;
            height: 2px;
            width: 8px;
            background-color: $red;
            margin-bottom: 11px;
          }
        }
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &-basket {
    margin-left: auto;
    color: $headers-color;
    position: relative;
  }
}
span.number-of-buys {
  display: inline-block;
  background-color: $red;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  color: #fff;
  font-family: $robotoBlack;
  font-size: 11px;
  position: absolute;
  right: -60%;
  top: -40%;
  text-align: center;
  line-height: 18px;
}
.header-assortment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  & > * {
    z-index: 1;
  }
  &-list {
    max-width: 680px;
    display: flex;
    &-item {
      display: inline-block;
      a {
        font-size: 14px;
        font-family: $ralewayExtraBold;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 30px 11px;
        height: 100%;
        width: 100%;
        &:hover {
          background-color: $red;
        }
      }
    }
  }
  &-search {
    display: flex;
    align-items: center;
    height: 40px;
    width: 270px;
    max-width: 270px;
    min-width: 150px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    color: #707070;
    position: relative;
    background-color: $headers-color;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    input {
      position: absolute;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      border-radius: 30px;
      border: none;
      flex-grow: 1;
      padding-left: 28px;
      background-color: transparent;
      left: 0;
      color: #707070;
      &:focus {
        outline: none;
      }
    }
    button {
      color: #707070;
      position: absolute;
      right: 5px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 40px;
      width: 50px;
      background-color: transparent;
      border: none;
    }
  }
  &:before {
    content: '';
    position: absolute;
    background-color: #252525;
    width: 100vw;
    height: 100%;
    z-index: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.hamburger {
  display: none;
  .hamburger-inner {
    background-color: $red;
    &:before {
      background-color: $red;
    }
    &:after {
      background-color: $red;
    }
  }
}
.humburger-main {
  margin-left: auto;
}
.humburger-black {
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {
  .top-bar {
    &-item {
      display: flex;
      align-items: center;
      margin-right: 20px;
      a {
        margin-left: 5px;
        margin-right: 5px;
        color: #959595;

      }
    }
  }
}

@media (max-width: 991px) {
  .top-bar {
    &-phone {
      display: none;
    }
    &-mail {
      display: none;
    }
    &-register {
      margin-right: auto;
    }
  }
  .main-header {
    &-menu {
      &-item {
        margin-right: 20px;
        a {
          font-size: 12px;
        }
        }
      }
    }
  .header-assortment {
    &-list {
      &-item {
        a {
          font-size: 10px;
          padding: 20px 5px;
        }
        &-search {
          height: 40px;
          width: none;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
  .top-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    .top-bar-sociall {
      display: none;
    }
  }
  .main-header {
    align-items: center;
    .top-bar-sociall {
      display: flex;
      margin-left: auto;
    }
    .logo {
      margin-left: auto;
    }
    a.main-header-basket {
      margin-right: auto;
    }
  }
  ul.main-header-menu {
    display: none;
  }
  ul.header-assortment-list {
    display: none;
  }
}

@media (max-width: 480px) {
  .top-bar {
    padding-top: 5px;
    padding-bottom: 5px;
    &-language {
      order: 3;
      margin-right: 5px;
      .fa-angle-down {
        display: none;
      }
    }
    &-wishlist {
      order: 2;
      margin-left: auto;
      margin-right: auto;
      .fa-angle-down {
        display: none;
      }
      }
    &-register {
      order: 1;
      margin-left: 5px;
      a {
        display: none;
      }
      span {
        display: none;
      }
    }
  }
  .main-header {
    .top-bar-sociall {
      display: none;
    }
  }
}
