.style-section {
  .container {

  }
}
.style-slider {
  position: relative;
  max-height: 425px;
  margin-bottom: 80px;
  overflow: hidden;
  &-slide {
    img {
      width: 100%;
    }
  }
}




.news-border {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  &-item {
    height: 220px;
    width: 570px;
  }
}
