.style-section {
   .container {

   }
 }
.style-slider {
  position: relative;
  max-height: 425px;
  margin-bottom: 80px;
  overflow: hidden;
  &-slide {
    img {

    }
  }
}
.news-border {
  display: flex;
  justify-content: space-around;
  &-item {
    max-height: 220px;
    max-width: 570px;
    min-width: 300px;

    img {
      height: auto;
      width: 100%;
    }
  }
}
