.style-section {
   .container {

   }
 }
.style-slider {
  position: relative;
  max-height: 425px;
  margin-bottom: 80px;
  overflow: hidden;
  &-slide {
    img {
      width: 100%;
    }
  }
}
.news-border {
  display: flex;
  justify-content: space-around;
  &-item {
    height: 220px;
    max-width: 570px;
    border: 1px solid $red;
    background-color: green;
  }
}
