doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title web-store
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='stylesheet', href='slick/slick.css')
    link(rel='stylesheet', href='slick/slick-theme.css')
    link(rel="stylesheet" href="stiles/dist/hamburgers.css")
    link(rel='stylesheet', href='styles/main.css')
    script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
    //link(rel='stylesheet' href='node_modules/hamburgers/dist/hamburgers.css')

  body
    include layouts/header
    .style-section
      .container
        .style-slider
          .slider-slide.fade
            img(src='images/home-page/slider-img-1.jpg')
          .slider-slide.fade
            img(src='images/home-page/slider-img-2.jpg')
          .slider-slide.fade
            img(src='images/home-page/slider-img-3.jpg')
        .news-border
          .news-border-item
            img(src='images/home-page/for-woman.jpg')
          .news-border-item
            img(src='images/home-page/for-man.jpg')
    .featured-section
      .container
        h2
          | Featured Products
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .featured-slider
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod1.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $230.99
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              .sale
                span
                  | Sale
              img(src='images/home-page/stuff/prod2.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3.old-price
                | $96.00
              h3.new-price
                | $58.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              .new
                span
                  | new
              img(src='images/home-page/stuff/prod4.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $99.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
              img(src='images/home-page/stuff/prod1.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $230.99
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star ")
              .sale
                span
                  | sale
              img(src='images/home-page/stuff/prod2.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3.old-price
                | $96.00
              h3.new-price
                | $58.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.99
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              .new
                span
                  | new
              img(src='images/home-page/stuff/prod4.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $99.00

          button.slick-prev.slick-arrow.featured-btn
            i(class='far fa-angle-left')
          button.slick-next.slick-arrow.featured-btn
            i(class='far fa-angle-right')
    .shipping-section
      .container
        h1
          | Free Shipping On All
        span.orders
          | Orders Over $60
    .recommend-section
      .container
        h2
          | We Recommend You
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .recommended-stuff-block
          .recommended-stuff-item.prod
            .prod-photo
              .hot
                span
                  | hot
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .recommended-stuff-item.prod
            .prod-photo
              .new
                span
                  | new
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .recommended-stuff-item.prod
            .prod-photo
              .sale
                span
                  | sale
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .recommended-stuff-item.prod
            .prod-photo
              .hot
                span
                  | hot
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          a.load(href='#')
            | Load More Products
    .news-mail-section
      .container
        h2.news-mail-header Sign Up For Our <br> Monthly
          span Newsletter
        form(action="" class="news-mail-form")
          input(type="email" placeholder="Your Email Address")
          button(type="submit" class="news-mail-btn")
            | Subscribe Now
        p.bla
          | * Lorem ipsum dolor consectetuer adipiscing elit.
    include layouts/brand
    include layouts/footer



    script(src='/bower_components/bootstrap/js/dist/util.js')
    script(src='/bower_components/bootstrap/js/dist/alert.js')
    script(src='/bower_components/bootstrap/js/dist/button.js')
    script(src='/bower_components/bootstrap/js/dist/carousel.js')
    script(src='/bower_components/bootstrap/js/dist/collapse.js')
    script(src='/bower_components/bootstrap/js/dist/dropdown.js')
    script(src='/bower_components/bootstrap/js/dist/modal.js')
    script(src='/bower_components/bootstrap/js/dist/scrollspy.js')
    script(src='/bower_components/bootstrap/js/dist/tab.js')
    script(src='/bower_components/bootstrap/js/dist/tooltip.js')
    script(src='/bower_components/bootstrap/js/dist/popover.js')

    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/slick/slick.min.js')
    script(src="scripts/hamburger.js")
    // build:js scripts/main.js
    script(src='scripts/main.js')
    //hamburger

