doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title web-store
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    link(rel='stylesheet', href='slick/slick.css')
    link(rel='stylesheet', href='slick/slick-theme.css')
    link(rel='stylesheet', href='styles/main.css')


    script(src='/bower_components/modernizr/modernizr.js')
    script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/slick/slick.min.js')




  body
    include layouts/header
    .style-section
      .container
        .style-slider
          .slider-slide.fade
            img(src='images/home-page/slider-img-1.jpg')
          .slider-slide.fade
            img(src='images/home-page/slider-img-2.jpg')
          .slider-slide.fade
            img(src='images/home-page/slider-img-3.jpg')
        .news-border
          img.news-border-item(src='images/home-page/For-Woman.jpg')
          img.news-border-item(src='images/home-page/For-Man.jpg')
    .featured-section
      .container
        h2
          | Featured Products
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .featured-slider
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod1.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $230.99
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              .sale
                span
                  | Sale
              img(src='images/home-page/stuff/prod2.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3.old-price
                | $96.00
              h3.new-price
                | $58.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              .new
                span
                  | new
              img(src='images/home-page/stuff/prod4.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $99.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
              img(src='images/home-page/stuff/prod1.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $230.99
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star ")
              .sale
                span
                  | sale
              img(src='images/home-page/stuff/prod2.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3.old-price
                | $96.00
              h3.new-price
                | $58.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.99
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              .new
                span
                  | new
              img(src='images/home-page/stuff/prod4.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $99.00

    .shipping-section
      .container
        h1
          | Free Shipping On All
        span.orders
          | Orders Over $60
    .recommend-section
      .container
        h2
          | We Recommend You
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .recommended-stuff-block
          .recommended-stuff-item.prod
            .prod-photo
              .hot
                span
                  | hot
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .new
                span
                  | new
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .recommended-stuff-item.prod
            .prod-photo
              .sale
                span
                  | sale
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .hot
                span
                  | hot
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00


          a.load(href='#')
            | Load More Products
    .news-mail-section
      .container
        h2.news-mail-header Sign Up For Our <br> Monthly
          span Newsletter
        form(action="" class="news-mail-form")
          input(type="email" placeholder="Your Email Address")
          button(type="submit" class="news-mail-btn")
            | Subscribe Now
        p.bla
          | * Lorem ipsum dolor consectetuer adipiscing elit.
    .brand-section
      .container
        .brand-slider
          .brand-slider-item
            img(src='images/sponsors/football-club.png')
          .brand-slider-item
            img(src='images/sponsors/explore.png')
          .brand-slider-item
            img(src='images/sponsors/wild-west-academy.png')
          .brand-slider-item
            img(src='images/sponsors/jefferson.png')
          .brand-slider-item
            img(src='images/sponsors/the-american-eagle.png')
          .brand-slider-item
            img(src='images/sponsors/football-club.png')
          .brand-slider-item
            img(src='images/sponsors/the-american-eagle.png')
          .brand-slider-item
            img(src='images/sponsors/wild-west-academy.png')


    .newsletter-section
      .container
        p.newsletter-header
          | Sign Up For Our <br> Monthly Newsletter
        form(action="" class="newsletter-form")
          i(class="fas fa-envelope")
          input(type="email" placeholder="Email Address")
          button(type="submit" class="newsletter-btn")
            | Subscribe

    .footer-section
      .container
        .exe-lorem
          .exe-lorem-logo-block
            span.logo
              | èxe
            span.txt
              | Clean and Adaptive <br> Front-End
          p.exe-lorem-about
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl commodo consequat.
          .top-bar-sociall
            a.top-bar-sociall-item.footer-bar.sociall-item-facebook
              i(class='fab fa-facebook-f fa-xs')
            a.top-bar-sociall-item.footer-bar.sociall-item-twitter
              i(class='fab fa-twitter fa-xs')
            a.top-bar-sociall-item.footer-bar.sociall-item-tumblr
              i(class='fab fa-tumblr fa-xs')
            a.top-bar-sociall-item.footer-bar.sociall-item-linkedin
              i(class='fab fa-linkedin-in fa-xs')
            a.top-bar-sociall-item.footer-bar.sociall-item-google-plus
              i(class='fab fa-google-plus-g fa-xs')
            a.top-bar-sociall-item.footer-bar.sociall-item-vk
              i(class='fab fa-vk fa-xs')
            a.top-bar-sociall-item.footer-bar.sociall-item-pinterest
              i(class='fab fa-pinterest-p fa-xs')
            a.top-bar-sociall-item.footer-bar.sociall-item-instagram
              i(class='fab fa-instagram fa-xs')
            a.top-bar-sociall-item.footer-bar.sociall-item-reed
              i(class='fa fa-rss fa-xs')
        .footer-inf-block
          span.footer-header
            | Informations
          ul.footer-list
            li.footer-list-item
              a(href='#')
                i(class='fas fa-caret-right')
                p
                  | About Us
            li.footer-list-item
              a(href='#')
                i(class='fas fa-caret-right')
                p
                  | Delivery Information
            li.footer-list-item
              a(href='#')
                i(class='fas fa-caret-right')
                p
                  | Terms and Conditions
            li.footer-list-item
              a(href='#')
                i(class='fas fa-caret-right')
                p
                  | Privacy Policy
            li.footer-list-item
              a(href='#')
                i(class='fas fa-caret-right')
                p
                  | Contact Us
            li.footer-list-item
              a(href='#')
                i(class='fas fa-caret-right')
                p
                  | Return Policy

        .footer-post-block
          span.footer-header
            | Recent Posts
          ul.footer-list
            li.footer-list-item.post
              a(href='#')
                p.post-head
                  | Corem ipsum dolor sit amet
                span.post-date
                  | 04 February 2017

            li.footer-list-item.post
              a(href='#')
                p.post-head
                  | Mirum est notare quam littera gothica, quam nunc putamus parum
                span.post-date
                  | 28 January 2017

            li.footer-list-item.post
              a(href='#')
                p.post-head
                  | Duis autem vel eum iriure
                span.post-date
                  | 03 January 2017
        .footer-contact-block
          span.footer-header
            | Get In Touch
          p
            | Lorem ipsum dolor sit amet, consectetuer adipiscing diam nonummy.
          ul.footer-list
            li.footer-list-item
              a(href='#')
                i(class='fas fa-map-marker-alt')
                p
                  | 795 South Park Avenue, Door 6 Wonderland, CA 94107, Australia
            li.footer-list-item
              a(href='#')
                i(class='fas fa-mobile')
                p
                  | +440 875369208
            li.footer-list-item
              a(href='#')
                i(class='fas fa-paper-plane')
                p
                  | support@sitename.com




    footer
      .container
        .license
          p
            | © 2018 èxe, Made by
            span
              |  KlitsMan
          p
           | /
          p
            |  Without
            span
              |  Bootstrap
        .pay
          a.pay-sistem(href='#')
            i(class='fab fa-cc-paypal')
          a.pay-sistem(href='#')
            i(class='fab fa-cc-visa')
          a.pay-sistem(href='#')
            i(class='fab fa-cc-mastercard')
          a.pay-sistem(href='#')
            i(class='fab fa-bitcoin')
          a.pay-sistem(href='#')
            i(class='fab fa-cc-apple-pay')



    script.
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
          function () {
            (b[l].q = b[l].q || []).push(arguments)
          });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-XXXXX-X');ga('send', 'pageview');



    script(src='/bower_components/bootstrap/js/dist/util.js')
    script(src='/bower_components/bootstrap/js/dist/alert.js')
    script(src='/bower_components/bootstrap/js/dist/button.js')
    script(src='/bower_components/bootstrap/js/dist/carousel.js')
    script(src='/bower_components/bootstrap/js/dist/collapse.js')
    script(src='/bower_components/bootstrap/js/dist/dropdown.js')
    script(src='/bower_components/bootstrap/js/dist/modal.js')
    script(src='/bower_components/bootstrap/js/dist/scrollspy.js')
    script(src='/bower_components/bootstrap/js/dist/tab.js')
    script(src='/bower_components/bootstrap/js/dist/tooltip.js')
    script(src='/bower_components/bootstrap/js/dist/popover.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
