doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title web-store
    link(rel='apple-touch-icon', href='apple-touch-icon.png')

    link(rel='stylesheet', href='slick/slick.css')
    link(rel='stylesheet', href='slick/slick-theme.css')
    link(rel='stylesheet', href='styles/main.css')


    script(src='/bower_components/modernizr/modernizr.js')
    script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/slick/slick.min.js')




  body
    include layouts/header
    .style-section
      .container
        .style-slider
          .slider-slide.fade
            img(src='images/home-page/slider-img-1.jpg')
          .slider-slide.fade
            img(src='images/home-page/slider-img-2.jpg')
          .slider-slide.fade
            img(src='images/home-page/slider-img-3.jpg')
        .news-border
          img.news-border-item(src='images/home-page/For-Woman.jpg')
          img.news-border-item(src='images/home-page/For-Man.jpg')
    .featured-section
      .container
        h2
          | Featured Products
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .featured-slider
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod1.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $230.99
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              .sale
                span
                  | Sale
              img(src='images/home-page/stuff/prod2.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3.old-price
                | $96.00
              h3.new-price
                | $58.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              .new
                span
                  | new
              img(src='images/home-page/stuff/prod4.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $99.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
              img(src='images/home-page/stuff/prod1.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $230.99
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star ")
              .sale
                span
                  | sale
              img(src='images/home-page/stuff/prod2.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3.old-price
                | $96.00
              h3.new-price
                | $58.00
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.99
          .featured-slider-prod.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
              .new
                span
                  | new
              img(src='images/home-page/stuff/prod4.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $99.00

    .shipping-section
      .container
        h1
          | Free Shipping On All
        span.orders
          | Orders Over $60
    .recommend-section
      .container
        h2
          | We Recommend You
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .recommended-stuff-block
          .recommended-stuff-item.prod
            .prod-photo
              .hot
                span
                 | hot
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .new
                span
                 | new
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00
          .recommended-stuff-item.prod
            .prod-photo
              .sale
                span
                 | sale
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .hot
                span
                 | hot
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00

          .recommended-stuff-item.prod
            .prod-photo
              .shade
                a(href='#' class='like')
                  i(class="fas fa-heart like-icon")
                a(href='#' class='to-cart')
                  i(class="fas fa-shopping-cart to-cart-icon")
                .stars
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star active-star")
                  i(class="fas fa-star")
                  i(class="fas fa-star")
              img(src='images/home-page/stuff/prod3.jpg')
            a.prod-title(href='#')
              | Product Title Here
            .prod-price
              h3
                | $75.00


          a.load(href='#')
           | Load More Products
    .news-mail-section
      .container
        h2.news-mail-header Sign Up For Our <br> Monthly
          span Newsletter
        form(action="" class="news-mail-form")
          input(type="email" placeholder="Your Email Address")
          button(type="submit" class="news-mail-btn")
           | Subscribe Now
        p.bla
         | * Lorem ipsum dolor consectetuer adipiscing elit.






    script.
      (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
          function () {
            (b[l].q = b[l].q || []).push(arguments)
          });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = 'https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
      }(window, document, 'script', 'ga'));
      ga('create', 'UA-XXXXX-X');ga('send', 'pageview');



    script(src='/bower_components/bootstrap/js/dist/util.js')
    script(src='/bower_components/bootstrap/js/dist/alert.js')
    script(src='/bower_components/bootstrap/js/dist/button.js')
    script(src='/bower_components/bootstrap/js/dist/carousel.js')
    script(src='/bower_components/bootstrap/js/dist/collapse.js')
    script(src='/bower_components/bootstrap/js/dist/dropdown.js')
    script(src='/bower_components/bootstrap/js/dist/modal.js')
    script(src='/bower_components/bootstrap/js/dist/scrollspy.js')
    script(src='/bower_components/bootstrap/js/dist/tab.js')
    script(src='/bower_components/bootstrap/js/dist/tooltip.js')
    script(src='/bower_components/bootstrap/js/dist/popover.js')
    // endbuild
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
