.brand-section
  .container
    .brand-slider
      .brand-slider-item
        img(src='images/sponsors/football-club.png')
      .brand-slider-item
        img(src='images/sponsors/explore.png')
      .brand-slider-item
        img(src='images/sponsors/wild-west-academy.png')
      .brand-slider-item
        img(src='images/sponsors/jefferson.png')
      .brand-slider-item
        img(src='images/sponsors/the-american-eagle.png')
      .brand-slider-item
        img(src='images/sponsors/football-club.png')
      .brand-slider-item
        img(src='images/sponsors/the-american-eagle.png')
      .brand-slider-item
        img(src='images/sponsors/wild-west-academy.png')
