header
  .container
    .top-bar
      .top-bar-language.top-bar-item
        i(class='fas fa-globe')
        a(href='#')
          | language
        i(class='fas fa-angle-down')
      .top-bar-phone.top-bar-item
        i(class='fas fa-mobile')
        a(href='#')
          | +440 875369208
      .top-bar-mail.top-bar-item
        i(class='fas fa-paper-plane')
        a(href='#')
          | info@sitename.com
      .top-bar-register.top-bar-item
        i(class='fas fa-sign-in-alt')
        a(href='#')
          | Sign In
        span
          | /
        a(href='#')
          | Register
      .top-bar-wishlist.top-bar-item
        i(class='fas fa-heart')
        a(href='#')
          | Wishlist:
        span(class='wishlist-counter')
          | 0 items
        i(class='fas fa-angle-down')
      .top-bar-sociall
            a.top-bar-sociall-item.sociall-item-facebook
              i(class='fab fa-facebook-f fa-xs')
            a.top-bar-sociall-item.sociall-item-twitter
              i(class='fab fa-twitter fa-xs')
            a.top-bar-sociall-item.sociall-item-tumblr
              i(class='fab fa-tumblr fa-xs')
            a.top-bar-sociall-item.sociall-item-linkedin
              i(class='fab fa-linkedin-in fa-xs')
            a.top-bar-sociall-item.sociall-item-google-plus
              i(class='fab fa-google-plus-g fa-xs')
            a.top-bar-sociall-item.sociall-item-reed
              i(class='fa fa-rss fa-xs')
    .main-header
      button.hamburger.hamburger--slider(type="button")
        span.hamburger-box
          span.hamburger-inner
      .top-bar-sociall
        a.top-bar-sociall-item.sociall-item-facebook
          i(class='fab fa-facebook-f fa-xs')
        a.top-bar-sociall-item.sociall-item-twitter
          i(class='fab fa-twitter fa-xs')
        a.top-bar-sociall-item.sociall-item-tumblr
          i(class='fab fa-tumblr fa-xs')
        a.top-bar-sociall-item.sociall-item-linkedin
          i(class='fab fa-linkedin-in fa-xs')
        a.top-bar-sociall-item.sociall-item-google-plus
          i(class='fab fa-google-plus-g fa-xs')
        a.top-bar-sociall-item.sociall-item-reed
          i(class='fa fa-rss fa-xs')

      span.logo
        | èxe
      ul.main-header-menu
        li.main-header-menu-item
          a(href='#')
            | Home
        li.main-header-menu-item
          a(href='#')
            | About Us
        li.main-header-menu-item
          a(href='#')
            | News
        li.main-header-menu-item
          a(href='#')
            | FAQs
        li.main-header-menu-item
          a(href='#')
            | Gallery
        li.main-header-menu-item
          a(href='#')
            | Terms & Conditions
        li.main-header-menu-item
          a(href='#')
            | Delivery
        li.main-header-menu-item
          a(href='#')
            | Contact Us
      a.main-header-basket.buy(href='#')
        i(class='fas fa-shopping-cart')
        span.number-of-buys
          | 10
    .header-assortment
      ul.header-assortment-list
        li.header-assortment-list-item
          a(href='#')
            | Women
        li.header-assortment-list-item
          a(href='#')
            | Men
        li.header-assortment-list-item
          a(href='#')
            | Kids
        li.header-assortment-list-item
          a(href='#')
            | Shoes
        li.header-assortment-list-item
          a(href='#')
            | Accessories
        li.header-assortment-list-item
          a(href='#')
            | Sale Off
        li.header-assortment-list-item
          a(href='#')
            | Featured
        li.header-assortment-list-item
          a(href='#')
            | Collections
      form.header-assortment-search
        input(type='text' placeholder='Search...')
        button(type='submit')
          i(class='fas fa-search')
