.newsletter-section
  .container
    p.newsletter-header
      | Sign Up For Our <br> Monthly Newsletter
    form(action="" class="newsletter-form")
      i(class="fas fa-envelope")
      input(type="email" placeholder="Email Address")
      button(type="submit" class="newsletter-btn")
        | Subscribe
